$color-dark :#402133;
$color-dark-70:rgba(40,21,33,0.7);
$color-dark-80:rgba(40,21,33,0.8);
$color-sky:#77C1DB;
$color-pink:#ED7CA1;
$color-gray:#BBBABA;
$color-blue:#3C3F5A;

body {
	height: 5000px;
     margin:0;
     padding:0;
     text-align:center;
     font-family: 'DotGothic16', sans-serif;

}
figure{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section{
    margin-inline-start:0;
    margin-inline-end:0;
}
.num {
	margin: 0;
	position: fixed;
	right: 10px;
	top: 10px;
}
.logo{
    width:60%;
    max-width:300px;
    margin: auto;
    margin-top:17vh;
    z-index:2;
    position:relative;
}
#blueback{
    background-color:$color-sky;
    width:100%;
    height:100vh;
    position:fixed;
    opacity:1;
    z-index:-3;
    top:0;
}
#ground-green{
    width:100%;
    height:15px;
    position:fixed;
    top:calc(100vh - 115px);
    top:calc(100lvh - 115px);
    background-color:#48AE34;
    z-index:-1;
    
}
#ground-brown{
    width:100%;
    height:100px;
    position:fixed;
    top:calc(100vh - 100px);
    top:calc(100lvh - 100px);
    background-color:#CE7949;
    z-index:-1;
}
.crowd{
    width:85px;
    position:fixed;
    z-index:0;
}
#crowd1{
    top:30px;
    right:260px;
}
#crowd2{
    top:140px;
    right:70px;
}
#crowd3{
    top: calc(100vh - 350px);
    top: calc(100lvh - 350px);
    right:120px;
}
.balloon{
    position:fixed;
    top:120vh;
    width:50px;
    z-index:-2;
  }
  #balloon1{
left:25vw;
  }
  #balloon2{
    left:50vw;
  }
  #balloon3{
    left:75vw;
  }
  #crow{
    position:fixed;
    width:60px;
    z-index:-2;
    top:250px;
    left:-650px;
  }
#castle{
    position:fixed;
    z-index:0;
    top:calc(100vh - 215px);
    top:calc(100lvh - 215px);
    right:40px;
    height:100px;
}
#maid{
    width:35px;
    position:fixed;
    top:calc(100vh - 155px);
    top:calc(100lvh - 155px);
    left:80px;
}
.start-text{
    position:fixed;
    top:calc(100vh - 90px);
    top:calc(100lvh - 90px);
    font-size:1.2rem;
    color:white;
    left:50%;
    transform:translatex(-50%);
    width:300px;
    letter-spacing:1px;
}
#orangeback{
    background-color:#FFA64D;
    width:100%;
    height:100vh;
    position:fixed;
    opacity:1;
    z-index:-4;
    top:0;
  
}
#blackback{
    background-color:$color-dark;
    width:100%;
  height:100vh ;
    position:fixed;
    opacity:1;
    z-index:-5;
    top:0;
}
.stars{
    position:fixed;
    z-index:-5;
    width:100%;
    top:0;
    left:0;
}
.blank{
    width:100%;
    height:1400px;
}

.news{
    width:280px;
    height:220px;
    background-color: $color-dark;
    border:solid white 1px;
    position:fixed;
    right:-250px;
    top:100px;
    color:white;
    padding:5px;
    z-index:10;
    display:none;

    h3{
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        font-size:1rem;
      
    }
    ul{
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        padding-inline-start:0;
        text-align:left;
        font-size:1rem; 
    }
    li{
        text-decoration:none;
        list-style:none;
    }

}
.explain{
    color:white;
    text-align:left;
    z-index:100;
    opacity:0;
    margin: 5px auto;
    width:100%;
    max-width:1100px;
    text-align:center;
}

.whats{
    width:calc(100% - 30px );
    max-width:500px;
    text-align:left;
    padding:15px;
    position:relative;
    height:420px;
    display:inline-block;

    h3{
        margin-top:7px;
        margin-bottom:7px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        position:absolute;
        top:0;
        left:25px;


    }
    p{
        position:absolute;
        width:60%;
        max-width:300px;
        background-color:$color-dark-80;
        color:white;
        padding:7px;
        border:solid white;
        min-height:240px;
        top:20px;
        left:25px;
        
    }
    .image{
        width:60%;
        max-width:300px;
        overflow:hidden;
        position:absolute;
        right:25px;
        top:150px;
        height:240px;
        z-index:-1;

        

     img{
        width:200%;
        
        opacity:0.7;
     }
        
    }
}
.characters{
    width:calc(100% - 30px );
    max-width:500px;
    text-align:left;
    padding:15px;
    position:relative;
    height:420px;
    display:inline-block;
    h3{
        margin-top:7px;
        margin-bottom:7px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        position:absolute;
        top:0;
        right:25px;


    }
    p{
        position:absolute;
        width:60%;
        max-width:300px;
        background-color:$color-dark-80;
        color:white;
        padding:7px;
        border:solid white;
        min-height:240px;
        top:20px;
        right:25px;
        
    }
    .image{
        width:45%;
        max-width:300px;
        overflow:hidden;
        position:absolute;
        left:25px;
        top:0px;
        height:160px;
        z-index:-1;

        

     img{
        width:200%;
    
        opacity:0.7;
     }
        
    }
    .image2{
        
        width:60%;
        max-width:300px;
        overflow:hidden;
        position:absolute;
        left:70px;
        top:240px;
        height:220px;
z-index:-1;
        

     img{
        width:200%;
       
        opacity:0.7;
     }
        
    }

}

.cap{
    position:absolute;
    font-size:0.9rem;
}
.cap3,.cap1{
    bottom:0;
    right:5px;
}
.cap2{
    top:0;
    left:5px;
}
.examples{
    position:relative;
    width:100%;
    max-width:500px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}
.examples img{
    position:absolute;
}
#alone-person,#friend1,#couple1{
    left:-60px;
    width:60px;
}
#friend2,#couple2{
    width:60px;
    right:-70px;
}
.wordbaloon{
    width:calc(100% - 140px);
    left:70px;
    display:none;
}
#text{
    position:absolute;
    left:70px;
    color:black;
    width:calc(100% - 140px);
    font-size:1.3rem;
    z-index:2;
    text-align:center;
}
.continue{
    position:relative;
    span{
        position:absolute;
        top:200px;
        font-size:1.5rem;
        left:50%;
        transform:translatex(-50%);
    }
}
.continue-percent{
    width:270px;
    height:27px;
    background-color:black;
    border:solid white 3px;
    border-radius:3px;
    position:absolute;
    top:320px;
    left:calc(50% - 138px);

}
#percent-gage{
    background-color:white;
    height:23px;
    width:50px;
    margin-top:2px;
    margin-left:2px;
    max-width:266px;
}
#percent-text{
    position:absolute;
    top:350px;
    left:50%;
    transform:translatex(-50%);
}

.about{
    width:100%;
    height:auto;
    min-height:1000px;
    background-color:$color-sky;
    display:none;

}
.about h2{
    display:inline-block;
    margin-block-end:0;
    margin-block-start:2rem;
    color:$color-blue;
    width:100%;
    height:3rem;
    line-height:2.8rem;
    background-image:url(img/board.png);
    background-position:center;
    background-size:12rem 3rem;
    background-repeat: no-repeat;
    vertical-align:top;
}
